.hero5 {
  h2 {
    margin-left: 10%;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    margin-top: 240px;
  }
  .hero-container {
    justify-content: space-around;
    .hero-content5 {
      max-width: 450px;
      p:first-of-type {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 40px;
      }
      p:last-of-type {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 48px;
      }
      h3 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 48px;
      }
      .star {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 30px;
      }
    }
    .image {
      width: 384px;
      height: 491px;
      position: relative;
      & > .man {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .arrow {
        display: flex;
        align-items: center;
        gap: 22px;
        padding-top: 20px;
        padding-left: 30px;
        position: absolute;
        right: 0;
        bottom: 0;
        background: #fff;
        border-top-left-radius: 10px;
        & > img {
          cursor: pointer;
        }
      }
      .element {
        position: absolute;
        left: -14px;
        bottom: -14px;
      }
      .element2 {
        position: absolute;
        top: -17px;
        right: -17px;
        z-index: -1;
      }
    }
  }
}
