.hero4 {
  margin-top: 173px;
  p {
    max-width: 400px;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7d7987;
  }
  h2 {
    max-width: 400px;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .button {
    margin-top: 33px;
  }
}
