.hero3 {
  margin-top: 192px;
  .container {
    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 56px;
      a {
        color: $orange-color;
      }
    }
  }
  .listItem {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }
}
